/**Globales*/
:root {
    --fuente: 'Comfortaa', cursive;
    --fuenteSecuandaria: 'Noto Sans', sans-serif;
}
.bg-danger {
    background: linear-gradient(45deg, #ff6c5c, #c62828)
}
.bg-primary {
    background: linear-gradient(45deg, #F1F451, #FFDD5D)
}
h1,h2,h3,p {
    font-family: var(--fuente);
}


/*Content*/
h2 .pokemon-logo {
    height: 150px;
}
.card {
    height: 220px;
    border-radius: 0;
    background: linear-gradient(140deg, #cccccc, #ffffff);  
}
.card-img-top {
    height: 200px !important;
    border: none;
}
.card-meta p{
    color: royalblue;
    font-weight: 700;
    font-size: 25px;
}

